################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dcc_audio_3players/Release
/dcc_audio_3players/Debug
/dcc_audio_3players/_vm
/.vs

/dcc_audio_3players/__vm
/dcc_audio_3players/__vm
/dcc_audio_3players/__vm/Upload.vmps.xml
/dcc_audio_3players/__vm/Configuration.Release.vmps.xml
/dcc_audio_3players/__vm/Compile.vmps.xml
/dcc_audio_3players/__vm
